In [76]:
import os
import pandas as pd
import numpy as np

import locale
from locale import atof

In [77]:
df = pd.read_excel(
     os.path.join("datasets", "besiktas.xlsx"),
     engine='openpyxl',
     parse_dates=True,
     thousands='.'
)
print (df)

                    Tarih PM10 ( µg/m3 ) SO2 ( µg/m3 ) CO ( µg/m3 )  \
0     2012-01-01 01:00:56              -             -            -
1     2012-01-01 02:00:56              -             -            -
2     2012-01-01 03:00:56              -             -            -
3     2012-01-01 04:00:56              -             -            -
4     2012-01-01 05:00:56              -             -            -
...                   ...            ...           ...          ...
81690 2021-04-26 19:00:56          11,10          1,00       296,70
81691 2021-04-26 20:00:56          17,40          0,80       254,10
81692 2021-04-26 21:00:56          30,00          0,70       180,00
81693 2021-04-26 22:00:56          18,60          1,00       399,00
81694 2021-04-26 23:00:56              -          1,10       446,60

      NO2 ( µg/m3 ) NOX ( µg/m3 ) O3 ( µg/m3 ) PM 2.5 ( µg/m3 )
0                 -             -            -                -
1                 -             -            -                -
2                 -             -            -                -
3                 -             -            -                -
4                 -             -            -                -
...             ...           ...          ...              ...
81690         15,90             -        31,60                -
81691         15,80             -        34,40                -
81692         18,90             -        31,70                -
81693         23,30             -        17,10                -
81694         22,10             -        22,20                -

[81695 rows x 8 columns]

In [78]:
# Replace '-' string with NaN
df = df.replace ('-', '-1')

# Also fixing ',' delimeter with '.' for float conversion
# . is for thousands , for the last delimeter
df['PM10 ( µg/m3 )'] = df['PM10 ( µg/m3 )'].astype(str).str.replace('.','')
df['PM10 ( µg/m3 )'] = df['PM10 ( µg/m3 )'].astype(str).str.replace(',','.')

# Casting str to float
df['PM10 ( µg/m3 )'] = pd.to_numeric(df['PM10 ( µg/m3 )'], downcast="float")

In [79]:
# Counting number of -1 in the column
df[df == '-1'].count ()

Tarih                   0
PM10 ( µg/m3 )          0
SO2 ( µg/m3 )       61745
CO ( µg/m3 )        62154
NO2 ( µg/m3 )       63773
NOX ( µg/m3 )       67718
O3 ( µg/m3 )        62743
PM 2.5 ( µg/m3 )    67638
dtype: int64

In [80]:
# Filling empty rows
# https://towardsdatascience.com/7-ways-to-handle-missing-values-in-machine-learning-1a6326adf79e
# 1- We cant just delete them because we need consistent timestamps
# 2- If too many empty rows exists we should discard them
# 3- Replacing missing data with mean/median
# 3.1- This does not cover the covariance between features
df['PM10 ( µg/m3 )'] = df['PM10 ( µg/m3 )'].replace (-1.0, df[df != -1]['PM10 ( µg/m3 )'].median ())

In [81]:
df['PM10 ( µg/m3 )']

0        26.1
1        26.1
2        26.1
3        26.1
4        26.1
         ...
81690    11.1
81691    17.4
81692    30.0
81693    18.6
81694    26.1
Name: PM10 ( µg/m3 ), Length: 81695, dtype: float32